# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# =========================
# SQLite / Database
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS generated
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs / temp
# =========================
*.log
*.tmp

# =========================
# Build / dist (future)
# =========================
build/
dist/
*.spec

data/

docs/
core/practise/